* {
    margin: 0 auto;
}

body {
    box-sizing: border-box;
    overflow: hidden;
}

.img-carousel {
    object-fit: cover;
    /* object-position: 0 40%; */
    height: 83vh;
}

footer {
    /* height: 20px; */ 
    background-color: whitesmoke;
    font-size: 15px;
}

p {
    margin: 0;
}

.logo {
    width: 150px;
}

.social-media img {
    width: 30px;
    margin: 10px;
}

@media (min-width: 500px) {
    .block-min-width-500 {
        display: none;
    }
}
@media (max-width: 500px) {
    .block-max-width-500 {
        display: none;
    }
}
@media (max-width: 769px) {
    .block-max-width-769 {
        display: none;
    }
}