* {
    margin: 0 auto;
    font-family: 'EB Garamond', serif;
}

}
body {
    box-sizing: border-box;
    }

.sustent {
        height: 35px;
        width: 35px;
}   
    footer {
        height: 20px; 
        background-color: whitesmoke;
        font-size: 12px;
        display: row;
    }

p {
    
    text-align: center;
}

.logo {
    width: 150px;
}

.botoes {
    margin: 0 auto;
    display: flex;
    overflow: auto;
    white-space: nowrap;
}


.bnt-cinza {
    color: white!important;
    background-color: green!important;
    font-size: 16px;
    border: none;
}

.container-eventos {
    width: 80%;
}
.partners {
    margin: 0 auto;
    widows: 50px;
    justify-content: center;
    padding: 5px;     
}

.parceiros {
    height: 18vh;
    padding: 5px;
    border-radius: 10px;
}
    
.parceiros2{
    width: 70%;
    padding: 5px;
    height: 100px;
    padding: 5px;  
}   

.conteudo-eventos {
    width: 33%;
    margin: 0 auto; 
    margin-top: 15px;
}


